html {
  display: inline;
  text-align: center;
}

#game {
  text-align-last: center;
}

#rock, #paper, #scissors {
  display: inline-block;
  margin: auto;
  width: 30%;
}

#rock_img, #paper_img, #scissors_img {
  border: 3px solid black;
  display: inline-block;
  margin: auto;
}

h3 {
  display: inline-block;
}