/* body {

} */

html {
  display: inline;
  text-align: center;
}

/* h1, h2 {
  text-align: center;
} */

#game {
  /* text-align: center; */
  text-align-last:center;
  float: center;
}

#rock, #paper, #scissors {
  display: inline;
}

/* #rock_img, #paper_img, #scissors_img {

} */
